/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.productListArea {
  margin: 0 auto;
}
.imgArea {
  height: 300px;
  background-position: center;
  background-size: cover;
}
.loadingArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.qtyArea {
  font-size: 20px;
}
.qtyArea i {
  padding: 5px;
  font-size: 28px;
  cursor: pointer;
}
.qtyArea span {
  display: inline-block;
  width: 50px;
  text-align: center;
}
.productModal .modalWidth {
  max-width: 60%;
}
.containerForm {
  max-width: 600px;
  margin: 0 auto;
}
.formGroup {
  margin: 20px 0;
}
.formGroup textarea {
  resize: none;
}
.cartList {
  width: 80%;
  margin: 0 auto;
}
.cartList tr {
  text-align: right;
}
.deleteCartOne {
  background: transparent;
  border: none;
  color: #dc3545;
  border-radius: 5px;
}
.deleteCartOne:hover {
  background: #dc3545;
  color: #fff;
}
.productTitle {
  text-align: left;
}
.qtyTableArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.qtyTableArea button {
  background: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}
.qtyTableArea span {
  width: 40px;
  text-align: center;
}
.totalText {
  font-size: 24px;
  font-weight: bold;
}
.noCart {
  text-align: center;
  background: #e0e0e0;
}
.orderContent {
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 10px;
}
.orderContent p {
  margin-bottom: 5px;
  font-weight: bold;
}
.orderContent .total {
  font-size: 24px;
  font-weight: bold;
}
